<div class="container">

    <div class="section-title">
        <h2>Github Projects</h2>
        <p>All my current projects</p>
    </div>


    <% var projectsInRow = 0 %>
    <% githubProjects.forEach(function(project, index){ %>
    <% if (projectsInRow === 0) {%>
    <div class="row github-projects-row justify-content-center">
        <%}%>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box js-tilt"
            onclick="window.location = '<%=project.html_url%>'"
        role="button"
        >
        <% if (!project.language) project.language = "Default"%>
        <div class="icon"><img src="/assets/img/languageIcons/<%=project.language%>.png" height="50"></div>
        <h4 class="title"><%=project.name%></h4>
        <% if (!project.description) project.description = "No description available"%>
        <% if (project.description.length > 80) project.description = project.description.substring(0, 77) + "..."; %>
        <p class="description"><%=project.description%></p>
    </div>
</div>
<% projectsInRow++;%>
<% if (projectsInRow === 4 || githubProjects.length === (index + 1)) { projectsInRow = 0;%>
</div>
<%}%>
      <% }); %>
</div>
</div>
</div>