<%- include("partials/header"); -%>
<h1 class="text-center splash-header">Shawn Cockburn's Blog</h1>
<div class="container">
  <!-- <div class="row">
    <div class="col">
      <div class="blog-card">
        <img src="https://picsum.photos/200" alt="">
        <p>lorimipson siugvfb sioeufhsi eioufghsfiou seiofguhsnfiksuj aowidhjhad wsfhebsfiusfe</p>
      </div>
    </div> -->

    <div class="blog-post-list">

<% posts.forEach((post) => { %>
  <div class="blog-card">
    <div class="blog-card-img">
      <img src="https://picsum.photos/200" alt="Card image cap">
    </div>
    <div class="blog-card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <% }); %>


</div>
  </div>
</div>
<%- include("partials/footer"); -%>
